<div class="d-flex flex-column flex-md-row justify-content-start">
  <div>
    <img src="assets/image-the-book-2.jpeg" class="rounded my-hover-cursor" alt="..." (click)="clickedBook()">
  </div>
  <div class="ms-3">
    <p style="font-weight: bold;">{{book?.title}}</p>
    <p>{{book?.author}}</p>
    <p>{{book?.price}} USD</p>
    <p>{{book?.rate ? book?.rate + ' of 5' : 'None rated'}}</p>
    @if (user?.role === 'Admin') {
    <p><i class="bi bi-trash my-hover-cursor" (click)="clickedRemoveBook()"></i></p>
    }
  </div>
</div>